/* html, body { */
/*     width: 100%; */
/*     height: 100%; */
/* } */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    /* display: flex; */
    align-items: stretch;
    justify-content: stretch;
    min-height: 100%;
}

div {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.navigate {
    /* width: 160px; */
    /* height: 100%; */
    background-color: #99cccc;
    /* position: fixed; */
}

.app {
    /* height: 100%; */
    /* width: 100%; */
    /* margin-left: 160px; */
    background-color: #ffffcc;
    background-size: 100%;
    /* background-origin: content-box; */
    flex-grow: 1;
}

.navigate-item {
    display: block;
    font-size: 25px;
    padding: 10px 10px 0px 10px;
}

.navigate-item:hover {
    background-color: #003366;
    color: #ffffff;
}

.block {
    display: block;
}

.nomargin {
    margin: 0px;
}

.nopadding {
    padding: 0px;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

half-width {
    border: 0px;
    width: 49%;
}

.device-item {
    display: block;
    font-size: 16px;
    padding: 10px 10px 0px 10px;
    list-style-type: none;
}

.log-item {
    list-style-type: none;
    display: inline;
    font-size: 16px;
    padding: 10px 0 10px 10px;
    /* word-break: break-all; */
    /* word-wrap: break-word; */
    height: auto;
}

.first-column {
}

.second-column {
    float: left;
}

.log-list {
}

.message-line {
    list-style-type: none;
    display: block;
    /* word-break: break-all; */
    /* word-wrap: break-word; */
    height: auto;
}

.log-viewer {
    height: auto;
}

.log-viewer:hover {
    height: auto;
    background-size: 100%;
    background-color: #cc99cc;
    color: #ffffff;
}

.title {
    padding: 10px 10px 0px 10px;
}
