<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <p>online device</p>
      <p v-if="deviceIdList.length == 0">no online device</p>
      <ol>
        <li v-for="deviceId in deviceIdList">
          <span v-on:click="query(deviceId)"> {{deviceId}} </span>
        </li>
      </ol>
    </div>

    <div id="query-app">
      <span>device id</span> <input v-model="deviceId" /> <br/>
      <span>package </span> <input v-model="packageName" /> <br/>
      <button v-on:click="query">query</button>
      <hr/>
      <p>device log</p>
      <p v-if="logList.length == 0">no log</p>
      <ol>
        <li v-for="log in logList">
          {{log}}
        </li>
      </ol>
    </div>
    <script src="index.js"></script>
  </body>
</html>
